.modal-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 247px;

  min-height: 376.333px;
}

.modal-box {
  display: block;
  background-color: white;
  width: 35%;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0 auto;
  min-width: 247px;
  min-height: 376.333px;
  animation-name: animatetop;
  animation-duration: 0.6s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
