.card {
  max-width: 350px;
  min-width: 300px;
  padding-bottom: 1%;
  display: inline-block;
  margin-top: 1%;
}

#card:hover {
  border: 1px solid #228be6;
}

#mapTitle {
  padding-top: 10%;
}

#mapDescription {
  inline-size: 260px;
  padding-top: 5%;
}

#ellipses {
  margin-left: auto;
  margin-right: 0px;
}

.border {
  border: 1px solid #c1c2c5;
}
