body,
html {
  width: 100%;
  margin: 0 auto;
}

#content {
  width: 85%;
  margin: 0 auto;
}

#homePageHeaderGroup {
  margin-top: 3%;
}

#homePageHeader {
  color: #228be6;
  margin-left: 0.5%;
}

#seeAll {
  margin-left: auto;
  margin-right: 1%;
}
